

#opt { position: relative; left: 0; width: 210px; padding: 200px 0; margin: 0 245px; }
#opt.n { margin: 0 0; padding: 110px 0px; padding: 110px 0px 30px 0; }
#opt .s { text-align: center; font-size: 1em; cursor: pointer; color: #fff;  }
#opt .s:hover { background: #FFFFFF; color: #000; }
#opt .s.i { float: left; width: 100px; height: 100px; padding-top: 75px; border-radius: 140px; margin-right: 5px; }
#opt .s.n { float: left; width: 60px; height: 45px; padding: 0 5px; padding-top: 30px; font-size: .75em; border-radius: 180px; }

#opt .blg { background: rgba(170, 170, 170, 0.71); }
#opt .per { background: rgba(100, 180, 164, 0.71); }

#dnum { position: relative; width: 500px; padding: 50px 100px; background: #F8F8F8; }
#dnum input { margin-bottom: 5px; border: none; padding: 12px 5px; width: 490px; text-align: center; font-family: 'Abel'; font-size: 1em; background: #EBEBEB; }



.ps textarea, .pj textarea { width: 43%; margin-right: 1%; height: 20px; resize: none; font-family: 'Abel'; font-size: 1em; padding: 3%; border: none; background: #DAEBE7; }
.ps textarea.ff, .pj textarea.ff { width: 93%; height: 400px; }
.ps textarea.fh, .pj textarea.fh { width: 93%; }
#navb { }


.suc { display: none; background: rgba(41, 55, 221, 0.71); color: #fff; position: fixed; top: 10%; right: 0; padding: 10px 15px; }
.fai { display: none; background: rgba(214, 0, 0, 0.71); color: #fff; position: fixed; top: 10%; right: 0; padding: 10px 15px; }
.mis { display: none; background: rgba(214, 0, 0, 0.71); color: #fff; position: fixed; top: 10%; right: 0; padding: 10px 15px; }
.st { margin-top: 50px; } 
.st input[type="checkbox"] { border: none; background: #afe; }
.per.bx { }
.per.bx #p, .per.bx #q, .per.bx #d { width: 94%; border: none; font-family: 'Abel'; font-size: 1em; padding: 20px 3%; text-align: center; margin-bottom: 5px; background: #F7F7F7; }
.blq.bx { }
.luci { width: 700px; margin: 0 auto; }
.luci .bb { margin-bottom: 5px; padding: 20px 5px; background: #A2DDD1; text-align: center; cursor: pointer; color: #fff; }
.luci .bb:nth-child(odd) { background: #86B8AD;}
.luci .bb:hover { background: #FFF; color: #000; }

.luci .bdg { position: relative; width: 500px;  padding: 50px 100px; background: #F8F8F8; }
#uid { margin-bottom: 5px; border: none; padding: 12px 5px; width: 490px; text-align: center; font-family: 'Abel'; font-size: 1em; background: #EBEBEB; }
#pob { background: rgba(41, 55, 221, 0.71); }
#pob:hover { background: #FFF; }

/*login */
.lgn { width: 500px; margin: 170px auto; padding: 50px 100px; background: #F8F8F8; }
.lgn .un { margin-bottom: 5px; border: none; padding: 12px 5px; width: 490px; text-align: center; font-family: 'Abel'; font-size: 1em; background: #EBEBEB; }
.lgn .pw { margin-bottom: 5px; border: none; padding: 12px 5px; width: 490px; text-align: center; font-family: 'Abel'; font-size: 1em; background: #EBEBEB; }
.lgn #log { margin-bottom: 5px; padding: 20px 5px; background: #A2DDD1; text-align: center; cursor: pointer; color: #fff; }
.lgn #log:hover { background: #FFF; color: #000;}

textarea.er { background: #EBDADA; }

/*cf*/
.cf:after { content: ""; display: table; clear: both; }


/*pretty*/
#opt  {
	-webkit-transition: all 1000ms ease;
    -moz-transition: all 1000ms ease;
    -o-transition: all 1000ms ease;
    transition: all 1000ms ease;
}

#opt .s, .lgn .s {
	-webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

.luci .bb {
	-webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

.blg.bx {
	-webkit-transition: 350ms ease;
    -moz-transition: 350ms ease;
    -o-transition: 350ms ease;
    transition: 350ms ease;
}

