body { margin: 0; background-color: #FFFFFF; font-size: 16px; font-family: 'Abel'; }
a { text-decoration: none; color: #86B596; }

canvas {
	position: relative;
    padding-left: 0;
    padding-right: 0;
    margin-top: 230px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  
}


#gatsby { margin: 0 auto; max-width: 1920px; min-width: 320px; }

/*header*/
.hdr-wrp { position: fixed; height: 90px; top: 0; width: 100%; margin: 0 auto; z-index: 998; }
.hdr-wrp.white { background-color: #FFF; }
.hdr-wrp.world { position: fixed; top: 0; height: 90px; width: 100%; background: url('i/dots-monde.png') no-repeat center center; background-position: 0 0; }

.hdr { position: relative; width: 490px; margin: 0 auto; top: 30px; background-color: rgba(238, 241, 243, .9); padding: 5px; border-radius: 15px; z-index: 900; }
.hdr a { text-decoration: none; color: #000; }
.hdr > a { font-family: 'Signika'; font-size: 2em; padding-left: 7px; font-weight: 700; }
.hdr img { float: left; padding: 0 0 0 35px; }
.hdr ul { position: absolute; list-style-type: none; margin: 0; right: 10px; top: 10px; }
.hdr ul li { display: inline; font-size: 1.4em; padding-right: 20px; }
.hdr ul li a:hover { color: #86B596; }
.hdr ul li a.active { color: #86B596; }

/*top news */
.top-news { position: relative; width: 100%; max-width: 1920px; margin: 0 auto; top: 100px; padding-bottom: 100px; }
.top-news .story { margin: .25%; float: left; height: 300px; width: 24.5%; background-color: #C8C4C9; cursor: pointer; }
.top-news .story:nth-child(even) { background-color: #CED6CE; } 
.top-news .story:nth-child(even):hover { background-color: #A8CFA8; } 
.top-news .story:nth-child(odd):hover { background-color: #A8CeA8; } 

.top-news .story {  -webkit-transition: background-color 750ms ease; -moz-transition: background-color 750ms ease; -o-transition: background-color 750ms ease; transition: height 250ms ease; }

/* about */ 

.w_slide { position: relative; height: 1200px; width: 100%; overflow: hidden; }
.w_slide .slide { position: relative; width: 100%; background-color: #6D746D; overflow: hidden; }
.w_slide .slide:nth-child(even) { background-color: #ABCFA8; }

.w_slide .slide.one { background: url('https://s3-us-west-2.amazonaws.com/slideshow13/2-BG.jpg') center center fixed no-repeat; background-size: cover; }
.w_slide .slide.two { background: url('https://s3-us-west-2.amazonaws.com/slideshow13/5-BG.jpg') center center fixed no-repeat; background-size: cover;  }
.w_slide .slide.three { background: url('https://s3-us-west-2.amazonaws.com/slideshow13/3-BG.jpg') center center fixed no-repeat; background-size: cover; }
.w_slide .slide.four { background: url('https://s3-us-west-2.amazonaws.com/slideshow13/4-BG.jpg') center center fixed no-repeat; background-size: cover; }
.w_slide .slide video { position: absolute; }
.w_slide .excerpt .text.active { display: block; }
.w_slide .excerpt .text { display: none; position: fixed; top: 115px; width: 577px; left: 33%; font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; }
.w_slide .excerpt .text h3 { margin: 0; font-size: 2.5em; color: #fff; }

.nav.about { position: fixed; top: 130px; right: 75%; width: 90px; z-index: 2; }
.nav.about ul { margin: 0; padding: 0px 0 10px 0; list-style-type: none; border-radius: 10px 0 0 0; }
.nav.about ul li { font-size: 1.125em; padding: 0px 0 5px 10px; background-color: rgba(238, 241, 243, 0.8); cursor: pointer; }
.nav.about ul li.first { padding-top: 5px; } 
.nav.about ul li a { color: #000; text-decoration: none; }
.nav.about ul li a:hover { color: #77A377; }
.nav.about ul li a.active { text-decoration: underline; }
.nav.about ul li:first-child { border-radius: 15px 15px 0 0; }
.nav.about ul li.last { border-radius: 0 0px 15px 15px; }



.filter.about { position: absolute; left: 50%; margin: 0; margin-left: -270px; width: 550px; top: 100px; }
.filter.about ul { margin: 0; padding: 0; list-style-type: none; width: 465px; margin: 0 auto; }
.filter.about ul li { display: inline-block; padding: 10px 7.45%; }
.filter.about ul li a { text-decoration: none; padding: 1px 12px; font-size: 2em; background-color: #FFF; color: #000; border-radius: 10px; border: 1px solid #D1D1D1; }
.filter.about ul li a:hover { background-color: #abc6b5; }
.filter.about ul li a.active { background-color: #abc6b5; border: none; }
.filter.about p { text-align: center; width: 80%; margin: 0 auto; margin-top: 10px; color: #000; font-size: 1.25em;  }

.filter.medias { position: absolute; left: 50%; margin: 0; margin-left: -275px; width: 550px; top: 100px; }
.filter.medias ul { margin: 0; padding: 0; list-style-type: none; width: 495px; margin: 0 auto; }
.filter.medias ul li { display: inline-block; padding: 10px 5.45%;  }
.filter.medias ul li a { text-decoration: none; padding: 1px 12px; font-size: 2em; background-color: #FFF; color: #000; border-radius: 10px; border: 1px solid #D1D1D1; }
.filter.medias ul li a:hover { background-color: #BAF1CF; }
.filter.medias ul li a.active { background-color: #BAF1CF; border: none; }
.filter.medias p { text-align: center; width: 90%; margin: 0 auto; margin-top: 20px; color: #828282; }
.filter.medias p.l { width: 90%; margin: 0 auto; } 
/* monde */
.monde { position: fixed; top: 0; height: 100%; width: 100%; background: url('i/dots-monde.png') no-repeat center center; z-index: -1; background-position: 0 0; }
.content { position: relative; margin: 0 auto; margin-top: 120px; width: 550px; background-color: rgba(255, 255, 255, 0.7); padding: 0 35px 35px; }
.content h2 { margin: 0; padding: 10px 0; text-transform: uppercase; }
.content p { margin: 0; padding: 10px 0; background-color: #FFF; line-height: 30px; font-size: 1.125em; }

.twenty-14 { position: absolute; right: -70px; top: 30px; height: 50px; width: 50px; background-color: #efeaef; }



/* media */
.media { position: relative; margin: 0 auto; margin-top: 220px; margin-bottom: 500px; width: 900px; }
.media a { color: #000; }
.media .type { float: left; height: 200px; background-color: #B4C0B9; cursor: pointer; }
.media .type h3 { margin: 0; margin-top: -50px; text-align: center; font-weight: 400; font-size: 1.6em; }
.media .photos { width: 32%; }
.media .videos { width: 32%; margin: 0 2%; }
.media .music { width: 32%; background: url('i/mx12.jpg'); opacity: .8; background-position: -4px -50px; }
.media .music:hover { opacity: 1; }


.tag { max-width: 490px; min-width: 320px; margin: 0 auto; padding: 0 1.5%; top: 100px; position: relative; font-size: 1.125em; }


/*photos*/

#photos .bxs-wrp { width: 100%; }
#photos .bxs-wrp .bx { float: left; margin: .6%; height: 200px; width: 32%; background-color: rgba(57, 62, 66, 1); cursor: pointer; }
#photos .bxs-wrp .bx.l { margin-left: 0; }
#photos .bxs-wrp .bx:hover { opacity: .7; }

#photos .bx#one { background-image: url('https://s3-us-west-2.amazonaws.com/slideshow13/best/1-Thumb.jpg'); }
#photos .bx#two { background-image: url('https://s3-us-west-2.amazonaws.com/slideshow13/best/2-Thumb.jpg'); }
#photos .bx#three { background-image: url('https://s3-us-west-2.amazonaws.com/slideshow13/best/3-Thumb.jpg'); }
#photos .bx#four { background-image: url('https://s3-us-west-2.amazonaws.com/slideshow13/best/4-Thumb.jpg'); }
#photos .bx#five { background-image: url('https://s3-us-west-2.amazonaws.com/slideshow13/best/5-Thumb.jpg'); }
#photos .bx#six { background-image: url('https://s3-us-west-2.amazonaws.com/slideshow13/best/6-Thumb.jpg'); }
#photos .bx#seven { background-image: url('https://s3-us-west-2.amazonaws.com/slideshow13/best/7-Thumb.jpg'); }
#photos .bx#eight { background-image: url('https://s3-us-west-2.amazonaws.com/slideshow13/best/8-Thumb.jpg'); }
#photos .bx#nine { background-image: url('https://s3-us-west-2.amazonaws.com/slideshow13/best/9-Thumb.jpg'); }
#photos .bx#ten { background-image: url('https://s3-us-west-2.amazonaws.com/slideshow13/best/10-Thumb.jpg'); }
#photos .bx#eleven { background-image: url('https://s3-us-west-2.amazonaws.com/slideshow13/best/11-Thumb.jpg'); }
#photos .bx#twelve { background-image: url('https://s3-us-west-2.amazonaws.com/slideshow13/best/12-Thumb.jpg'); }
#photos .bx#thirteen { background-image: url('https://s3-us-west-2.amazonaws.com/slideshow13/best/13-Thumb.jpg'); }
#photos .bx#fourteen { background-image: url('https://s3-us-west-2.amazonaws.com/slideshow13/best/14-Thumb.jpg'); }
#photos .bx#fifteen { background-image: url('https://s3-us-west-2.amazonaws.com/slideshow13/best/15-Thumb.jpg'); }
#photos .bx#sixteen { background-image: url('https://s3-us-west-2.amazonaws.com/slideshow13/best/16-Thumb.jpg'); }


#photos .bx#seventeen { background-image: url('https://s3-us-west-2.amazonaws.com/slideshow13/best/17-Thumb.jpg'); }
#photos .bx#eighteen { background-image: url('https://s3-us-west-2.amazonaws.com/slideshow13/best/18-Thumb.jpg'); }
#photos .bx#nineteen { background-image: url('https://s3-us-west-2.amazonaws.com/slideshow13/best/19-Thumb.jpg'); }
#photos .bx#twenty { background-image: url('https://s3-us-west-2.amazonaws.com/slideshow13/best/20-Thumb.jpg'); }
#photos .bx#twenty-one { background-image: url('https://s3-us-west-2.amazonaws.com/slideshow13/best/21-Thumb.jpg'); }
#photos .bx#twenty-two { background-image: url('https://s3-us-west-2.amazonaws.com/slideshow13/best/22-Thumb.jpg'); }
#photos .bx#twenty-three { background-image: url('https://s3-us-west-2.amazonaws.com/slideshow13/best/23-Thumb.jpg'); }
#photos .bx#twenty-four { background-image: url('https://s3-us-west-2.amazonaws.com/slideshow13/best/24-Thumb.jpg'); }
#photos .bx#twenty-five { background-image: url('https://s3-us-west-2.amazonaws.com/slideshow13/best/25-Thumb.jpg'); }
#photos .bx#twenty-six { background-image: url('https://s3-us-west-2.amazonaws.com/slideshow13/best/26-Thumb.jpg'); }
#photos .bx#twenty-seven { background-image: url('https://s3-us-west-2.amazonaws.com/slideshow13/best/27-Thumb.jpg'); }
#photos .bx#twenty-eight { background-image: url('https://s3-us-west-2.amazonaws.com/slideshow13/best/28-Thumb.jpg'); }
#photos .bx#twenty-nine { background-image: url('https://s3-us-west-2.amazonaws.com/slideshow13/best/29-Thumb.jpg'); }
#photos .bx#thirty { background-image: url('https://s3-us-west-2.amazonaws.com/slideshow13/best/30-Thumb.jpg'); }


/* map placeholder */

#main{
    height: 500px;
    border: 1px solid green;
    width: 200px;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
}

#child{
    width: 200px;
    overflow: auto;
    overflow-x: hidden;
    height: 500px;
    padding-right: 15px;
}

.place-wrap { position: relative; height: 440px; width: 200px; top: 75px; overflow: hidden; overflow-x: hidden; overflow-y: hidden; }
#placeholder { width: 200px; height: 380px; overflow: auto; padding-right: 15px;  }


#placeholder ul { list-style-type: none; margin: 0; padding: 0; }
#placeholder ul li { cursor: pointer; }
#placeholder ul li { cursor: pointer; color: #98a3bf; }
#placeholder ul li.active { color: #54bfb7; }
#placeholder ul li:hover { color: #abc6b5; }
#placeholder h2 { width: 200px; }
.network { width: 230px; left: 15%; top: 140px; position: absolute; }
.network h2 { font-weight: 400; border-bottom: 1px solid #ACAAAA; width: 120px; margin-bottom: 5px; }

.ppl.spc { position: relative; margin-top: 250px; }
#blog-wrp { position: relative; margin-top: 50px; }
.person.info { position: absolute; height: 300px; width: 300px; left: 69%; top: 220px; display: none; }
.person.info h2 { margin: 0; padding: 10px 0 0px 15px; font-weight: 400; }
.person.info h2 a:hover { color: #9B9B9B; }
.person.info h3 { margin: 0; padding: 0 15px; font-weight: 400; color: #9B9B9B; font-size: 1.12em; }
.person.info .more { }

.person.info .headline .thmb { /*height: 40px;*/ width: 70px; float: left; padding-right: -8px; margin-right: 12px; overflow: hidden; }
.person.info .headline ul { margin: 0; padding: 0; font-size: 1em; list-style-type: none; margin-top: 10px; }
.person.info .headline ul li { padding-left: 15px; margin-bottom: 20px; }
.person.info .headline ul li a { font-size: 1em; text-decoration: underline; }
.person.info .headline ul li a:hover { color: #86B596; }

.view { position: relative; width: 50px; 
    padding-left: 0;
    padding-right: 0;
    margin-top: -290px;
    margin-bottom: 290px;
    margin-left: auto;
    margin-right: auto;
    display: block; }
.view .crc { position: absolute; top: 10px; height: 50px; width: 50px; background: rgba(146, 219, 155, 0.29); border-radius: 25px; }

/* blog post - community  */
/*.blog.post.wrap { overflow: hidden; height: 1000px; position: relative; width: 650px; top: 250px; }*/

.blog.post { position: relative; width: 650px; margin: 50px auto; }
.blog.post.first { margin-top: 250px; }
.blog.post a { width: 98%; height: 333px; overflow: hidden; }
.blog.post a img { border: none; width: 100%; padding-bottom: 10px; }
.blog.post a.image img:hover { opacity: .8; }
.blog.post .info { width: 100%; }
.blog.post .info .credit { font-size: .8em; margin-bottom: 10px; }
.blog.post .info h4 { margin: 5px 0; }
.blog.post .info a.title { color: #000; font-size: 1.5em; padding-top: 5px; font-weight: 700; }
.blog.post .info a.title:hover { color: #666666;    }
.blog.post .info .social ul { margin: 0; padding: 0; list-style-type: none; }
.blog.post .info .social ul li { display: inline-block; padding-right: 5px; }
.blog.post .info .social ul li a { font-size: 1em; text-decoration: none; color: #86B596; }

table.index { position: relative; width: 800px; margin: 0 auto; margin-top: 250px; margin-bottom: 50px; left: 50%; margin-left: -350px; }
table.index tbody tr { width: 800px; }
table.index tbody tr th { background-color: #FAFAFA;  }
table.index tbody tr:hover { background: #FAFAFA; }

table.index tr td { padding: 0; padding-left: 10px; border-right: 1px solid #CCCCCC; color: #828282; overflow: hidden; }

table.index tr td.date { width: 70px; }
table.index tr td.name { width: 170px; }
table.index tr td.instrument { border: none; }
table.index tr td.inst { display: none; }
table.index tr td.name { color: #98a3bf; }
table.index tr td.name.active { color: #5dcddb; }
table.index tr td.city { width: 80px; }
table.index tr td.country { width: 80px; }
table.index tr td.region { width: 60px; }
table.index tr td.social-media { width: 250px; border-right: 1px solid #FFF; }
table.index tr td.social-media a { padding-right: 0px; }
table.index tr td.link { width: 180px; border: none; }
table.index tr td a { text-decoration: none; color:#86B596;  }
table.index tr td a.active { color: #54bfb7; }
table.index tr td a:hover { color: #5D866B; }

/*.index.filter {  position: absolute; top: 230px; width: 1000px; padding: 0; padding-left: 10px; margin: 0 auto; left: 50%; margin-left: -500px;}
.index.filter ul { margin: 0; padding: 0; list-style-type: none; }
.index.filter ul li { display: inline-block; font-size: 1.3em; }*/
.ctr-wrp { position: relative; top: 0; height: 340px; width: 100px; overflow: hidden; overflow-x: hidden; overflow-y: hidden;}

table.index th { position: relative; text-align: left; font-weight: 400; font-size: 1.3em; padding-left: 10px; padding-bottom: 5px; padding-top: 5px; }
table.index th .filter { position: absolute; top: 0; height: 100%; width: 100%; cursor: pointer; /*z-index: 999;*/ }
table.index th .filter .arw { display: none; width: 0; height: 0; border-style: solid; border-width: 8px 8px 0 8px; border-color: #000000 transparent transparent transparent; position: absolute; top: 16px; }
table.index th .filter .arw.active { display: block; }

table.index th .filter .opn { width: 100%; height: 100%; top: 0; right: 0; border: none;}
table.index th .filter .opn.off {  display: none; }

table.index th .filter .cls { display: none; width: 100%; height: 100%; top: 0; right: 0; background-color: rgba(250, 250, 250, 0); border: none; }
table.index th .filter .cls.active { display: block; }

table.index th .filter .cls.arw { width: 0; height: 0; border-style: solid; border-width: 8px 8px 0 8px; border-color: #000000 transparent transparent transparent; position: absolute; top: 16px; }

table.index th.date { width: 70px; }
table.index th .filter ul.country { height: 340px; overflow: auto; padding-right: 20px;  width: 100%;   }
table.index th .filter ul { list-style-type: none; margin: 0; padding: 0;   position: absolute; font-size: .95em; }
table.index th .filter ul li.active { display: inline-block; }
table.index th .filter ul li { display: none; background-color: rgba(238, 241, 243, 0.86); font-size: .9em; padding: 5px 0 5px 5px; width: 84%; border: 1px solid rgba(250, 250, 250, 0.97); }
table.index th .filter ul li:hover { background-color: rgba(250, 250, 250, 0.97); }


table.index th.date .filter ul.date li.one { }
table.index th.date .filter ul.date li.two { }
table.index th.date .filter ul.date li.three { }
table.index th.date .filter ul.date li.four { }

table.index th.date .filter .arw { right: 20px; }
table.index th.name { width: 110px; }
table.index th.name .filter .arw { right: 20px; }
table.index th.inst { display: none; }
table.index th.city { width: 110px; }
table.index th.country { width: 120px; }
table.index th.country .filter .arw {right: 20px; }
table.index th.region { width: 90px; }
table.index th.region .filter .arw { right: 20px; }
table.index th.social-media { width: 260px; border-right: 1px solid #FFF; }
table.index th.social-media a { padding-right: 10px; }
table.index th.link { width: 290px; }
table.index li a { text-decoration: none; color:#86B596;  }
table.index li a:hover { color: #5D866B; }



/* ABOUT SUB NAV PAGES */

.content { margin-bottom: 180px; }
.content p.note { margin: 0; padding: 2px 0; font-size: .95em; color: #2b2b2b; margin-top: 10px; line-height: 20px; }
.content p.note span { color: #000; }

.content.person { margin-bottom: 30px; }
.content ul.filter { margin: 0; padding: 10px 0 10px 0px; list-style-type: none; }
.content ul.filter li { font-size: 1.2em; display: inline-block; }
.content ul.filter li span { cursor: pointer; }
.content ul.filter li:nth-child(2) { padding-left: 5px; }
.content ul.filter li span:hover { color: #5D866B; }
.content ul.filter li { color: #000; cursor: pointer; padding-right: 5px; }
.content ul.filter li:hover {  color: #86B596; }
.content ul.filter li.a { color: #86B596; }

.person a { color: #000; /*font-size: 1.5em; */padding-top: 5px; }
.person .social ul { margin: 0; padding: 5px 10px; list-style-type: none; }
.person .social ul li { display: inline-block; }
.person .social ul li a { font-size: 1em; text-decoration: none; color: #86B596; padding: 0 5px; }


.content .person { padding: 10px 0; }
.content .person .img-wrp { height: 300px; overflow: hidden; }
.content .person img { width: 100%; }
.content .person h3 { margin: 0; padding: 0; font-size: 1.175em; }
.content .person h2, .content .person h3 { font-weight: 400; }
.content .person h2 { padding: 10px 0 2px 0; }
#person h2.fp { text-align: center; }
.content .person .bio { text-align: left; margin-top: 20px; font-size: 1em; line-height: 1.5em; }

.content.extend.person { text-align: center; }


.content .people { width: 98%; margin: 0 1%; margin-bottom: 30px; margin-left: -1%; }
.content .people .person { float: left; width: 48%; height: 200px; margin: 1%; padding: 0; cursor: pointer; }
.content .people .person img {  }
.content .people .person .img-wrpr { height: 150px; overflow: hidden; }

.content .people .person h4 { margin: 0; font-weight: 400; }
.content .people .person h5 { margin: 0; font-weight: 400; }


.content.archive { margin-bottom: 30px; }
.content.archive h3 { font-weight: 400; margin: 20px 0; }
.content.archive h5 { margin: 0; }
.content.archive ul { margin: 0; padding: 0; list-style-type: none; }
.content.archive ul.filter { padding-top: 10px; }
.content.archive ul li { display: inline; }
.content.archive ul li.venue ul li span { color: #000; }
.content.archive .credits h5 { margin: 0; font-size: 1em; }


.content.quotes { padding: 0 35px 35px; margin-bottom: 30px; }
.content.quotes .quote h3 { font-weight: 400; }
.content.quotes .quote h4 { font-weight: 400; text-align: right; }

.content.press { margin-bottom: 30px; padding-bottom: 200px; }
.content.press h2.p { padding-top: 10%; }
.content.press ul { margin: 0; padding: 0; list-style-type: none; }
.content.press ul.press { margin-top: 00px; }
.content.press ul.filter { padding-top: 10px; }
.content.press ul li { display: inline; padding: 3px 0; }
.content.press ul li.info ul li span { color: #8B8B8B; }


.content.partner .info h3 { margin-bottom: 0; font-weight: 400; }
.content.partner .info h3 span { color: #939393; }
.content.partner .info a { color: #86B596; }

.content.partner #supporter p { padding: 0; color: #686868; }
.content.partner #supporter h2 { padding: 0; }
.content.partner #supporter h3 { padding: 0; }
.content.partner #supporter .info { padding-bottom: 10px }
/*.content.partner #supporter .logo.ten { background: url(''); }
.content.partner #supporter .logo.eleven { background: url(''); }
.content.partner #supporter .logo.twelve { background: url(''); }
.content.partner #supporter .logo.thirteen { background: url(''); }
.content.partner #supporter .logo.fourteen { background: url(''); }
.content.partner #supporter .logo.fifteen { background: url(''); }
.content.partner #supporter .logo.sixteen { background: url(''); }
.content.partner #supporter .logo.seventeen { background: url(''); }
.content.partner #supporter .logo.eighteen { background: url(''); }
.content.partner #supporter .logo.nineteen { background: url(''); }
.content.partner #supporter .logo.twenty { background: url(''); }*/

.content.mixtape-2013 .dv { margin: 50px 0; }

.content.mixtape-2013 { width: 670px; background-color: rgba(255, 255, 255, 0); margin-top: 170px; }
.content.mixtape-2013 h2 { padding-bottom: 30px; text-align: center; font-weight: 400; font-size: 2.25em; }
.content.mixtape-2013 h2 span { text-transform: none; }
.content.mixtape-2013 p { font-size: 1.125em; background-color: rgba(255, 255, 255, 0); }

.content.mixtape-2013 .listen { margin: 30px 0; }
.content.mixtape-2013 .listen .cover { float: left; height: 400px; width: 400px; background: url('i/mixtape-2013.png'); display: block; }
.content.mixtape-2013 .listen ul { float: left; margin: 0; margin-left: 0px; padding: 0; margin-left: 60px; margin-top: -17px; }
.content.mixtape-2013 .listen ul li { font-size: 1.75em; list-style-type: none; }
.content.mixtape-2013 .listen ul li.click { text-decoration: none; }
.content.mixtape-2013 .listen ul li span { font-size: .5em; color: #000; text-decoration: none; }
.content.mixtape-2013 .listen ul li { color: #1A6C75; text-decoration: underline; cursor: pointer; }
.content.mixtape-2013 .listen ul li:hover { color: #66999E; }
.content.mixtape-2013 .listen ul li.active { color: #CE4444; text-decoration: none; }

.content.mixtape-2013 .tape .tracks { margin-top: 50px; }
.content.mixtape-2013 .tape .tracks .quote p { font-family: "Times New Roman"; }
.content.mixtape-2013 .tape .tracks .track h3 { margin: 0; margin-top: 70px; margin-bottom: 20px; font-size: 2em; font-weight: 400; }
.content.mixtape-2013 .tape .track { margin-top: 50px; }
.content.mixtape-2013 .tape .track .feat li.z { text-decoration: none; color: #000; }
.content.mixtape-2013 .tape .feat ul { margin: 0; padding: 0; width: 100%; }
.content.mixtape-2013 .tape .feat p {}
.content.mixtape-2013 .tape .feat ul li { list-style-type: none; display: inline-block; font-size: 1.125em; }
.content.mixtape-2013 .tape .quote-e ul { float: right; margin: 0; padding: 0; text-align: right; list-style-type: none; }
.content.mixtape-2013 .tape .quote-e ul li { font-size: 1.125em; color: #000; text-decoration: none; }

.content.mixtape-2013 .credits .song { margin: 0 0 20px 0; }
.content.mixtape-2013 .credits h2 { text-align: left; text-transform: none; }
.content.mixtape-2013 .credits h3 { margin: 0; }
.content.mixtape-2013 .credits h4 { font-weight: 400; font-style: italic; }
.content.mixtape-2013 .credits ul { margin: 0; list-style-type: none; }
.content.mixtape-2013 .credits ul li { font-style: italic; }


.content.mixtape-2013 .support .logos { width: 360px; height: 50px; margin: 0 auto;  }
.content.mixtape-2013 .support .logos .logo { float: left; display: block; background: url('i/flash-sprite-small.png'); margin: 0 10px 10px 0; }
.content.mixtape-2013 .support .logos .peluso { height: 75px; width: 85px; background-position: 1100px 70px; }
.content.mixtape-2013 .support .logos .glyph { height: 65px; width: 170px; background-position: 950px 137px; }
.content.mixtape-2013 .support .logos .ableton { height: 55px; width: 70px; background-position: 1050px 203px; }

.content.mixtape-2013 .videos iframe { margin-left: 55px; margin-bottom: 20px; }

.content.music .mx:hover { opacity: .65; }


.content.mission .v_about { width: 100%; margin: 30px 0 0 0; }


.content.resources ul { margin: 0; padding: 0; list-style-type: none }
.content.resources ul.rs li ul li a { height: 100%; width: 100%; display: block; }
.content.resources ul li ul.resource li { display: inline-block; margin-right: 2px; background: #efe; cursor: pointer; }
.content.resources .resource.logos li { height: 125px; width: 125px;  }
.content.resources .resource.badges li { height: 53px; width: 160px; }
.content.resources .resource.pdf li { height: 108px; width: 160px;  }

.content.resources .resource.logos li.one { background: url('https://s3-us-west-2.amazonaws.com/slideshow13/logo-one-thumb.png'); }
.content.resources .resource.logos li.two { background: url('i/resources/1b-125.png'); }
.content.resources .resource.logos li.three { background: url('i/resources/1b2-125.png'); }


.content.resources h2.press { font-size: 1.2em; margin-top: 5px;}
.content.resources .resource.badges li.one {  background: url('i/resources/badge2-160.png'); }
.content.resources .resource.badges li.two {  background: url('i/resources/badge3-160.png'); }
.content.resources .resource.badges li.three { background: url('i/resources/badge4-160.png'); }

.content.resources .resource.pdf li.one { background: url('i/resources/PDFthumb.png'); }

.content.contact { margin-bottom: 330px; }
.content.contact p { padding: 0; }
.content.music { margin-top: 240px; width: 780px; }
.content.music .mx-12 { margin: 0 auto; height: 560px; width: 550px; background: url('i/mxtp.jpg'); margin-top: 10px; margin-bottom: 20px; }
.content.music ol { margin: 0; padding: 0; }
.content.music .tracklist { margin-top: 15px; }
.content.music .track { width: 100%; padding: 0 0 15px 0; }

.content.music .mx { float: left; margin-right: 40px; width: 350px; height: 350px; display: block; }
.content.music .mx.tw { background: url('i/mx-12.png'); }
.content.music .mx.thr { background: url('i/mx-13.png'); }


.content.photos { margin-top: 230px; width: 900px; }
.arws a.cls { 
    position: relative;
    float: right;
    margin-top: 150px;
    border-radius: 10px;
    padding: 10px;
    background-color: rgba(134, 181, 150, 0.67);
    color: #FFF;
    text-align: center;
    cursor: pointer;
    z-index: 999;
    display: inline-block;
}
.arws a.cls:hover { background-color: rgba(134, 181, 150, 1);}

.content.videos { width: 650px; margin-top: 230px; }
.content.videos .wrap { max-width: 650px; height: 365px; margin-bottom: 110px; }

.content.blog { margin-top: 250px; width: 650px; }

.content.apply { }
.content.apply ul { list-style-type: none;  }
.content.apply .opt.apl p { margin-top: 10px; }


.content.apply .opt.elg p, .content.apply .opt.faq p { text-align: left; }
.content.apply .opt.elg h3 { margin-bottom: 0; font-weight: 400; }
.content.apply .opt.elg li { font-size: 1.125em; line-height: 1.5em; margin-top: 10px; } 

.mch.apl { margin-top: 25px; height: 90px; width: 300px; }
.mch.apl .mc-field-group label { font-size: .85em; }
.mch.apl .mc-field-group input.required.email { width: 190px; padding: 10px 10px; border: 0px; background-color: rgba(197, 228, 208, 0.83); color: #000; font-size: .8em; }
.mch.apl .button { border: none; float: right; margin-top: -38px; height: 36px; width: 80px; background-color: #6d6f71; color: #FFF; cursor: pointer; }


.content.program span { color: #49b9ad; font-weight: 700; }

p.drag { text-align: center; margin-top: 5px; padding-bottom: 10px; color: #969696; }

/* scroll down */
#scroll-down {  
	position: absolute; 
	margin: 0 auto;  
	margin-left: -35px;
	width: 0px;
	height: 0px;
	bottom: 30px; 
	left: 50%; 
	border-style: solid;
	border-width: 30px 40px 0 40px;
	border-color: #cdcdcd transparent transparent transparent;
	cursor: pointer; 
	z-index: 9;
}
#scroll-down span { position: absolute; top: 0; margin-top: -50px; margin-left: -17px; color: #FFF; }
.scroll-down.spl {  
    position: absolute; 
    margin: 0 auto;  
    margin-left: -42px;
    width: 0px;
    height: 0px;
    bottom: 30px; 
    left: 50%; 
    border-style: solid;
    border-width: 30px 40px 0 40px;
    border-color: rgba(46, 50, 49, 0.85) transparent transparent transparent;
    cursor: pointer; 
    z-index: 9;
}
.scroll-down.spl span { position: absolute; top: 0; margin-top: -50px; margin-left: -17px; color: #FFF; }




/*ftr*/
.ftr { position: absolute; padding: 10px 0 15px 0; width: 100%; height: 100px; background-color: rgba(255, 255, 255, 0.6); z-index: 900; }
.ftr .wrp { width: 930px; margin: 0 auto; height: 100%; }
.ftr .wrp .c { float: left; overflow: hidden; }
.ftr .wrp .c.s { margin-top: 40px; } 
.ftr .wrp .gov { margin-top: 10px; height: 80px; width: 82px; background: url('i/gov.png'); }
.ftr .wrp .fsn { margin-top: 13px; height: 80px; width: 140px; background: url('i/fsn.png'); }
.ftr .wrp .msn { height: 90px; width: 205px; padding-top: 15px; font-size: .85em; }
.ftr .wrp .mch { margin-top: 25px; height: 90px; width: 300px; }
.ftr .wrp .mch .mc-field-group label { font-size: .85em; }
.ftr .wrp .mch .mc-field-group input.required.email { width: 190px; padding: 10px 10px; border: 0px; background-color: rgba(197, 228, 208, 0.83); color: #000; font-size: .8em; }
.ftr .wrp .mch .button { border: none; float: right; margin-top: -38px; height: 36px; width: 80px; background-color: #6d6f71; color: #FFF; cursor: pointer; }
.ftr .wrp .tw { height: 50px; width: 50px; background: url('i/social.png'); }
.ftr .wrp .fb { height: 50px; width: 50px; background: url('i/social.png'); background-position: 167px 0; }
.ftr .wrp .yt { height: 50px; width: 50px; background: url('i/social.png'); background-position: 115px 0; }
.ftr .wrp .ig { height: 50px; width: 50px; background: url('i/social.png'); background-position: 50px 0; }
.ftr.off{ display: none; }

#more { height: 30px; width: 100%; margin: 0 auto; cursor: pointer; padding: 15px 0; text-align: center; border-top: 1px solid #E2E2E2; }
#more-blog { height: 30px; width: 100%; margin: 0 auto; cursor: pointer; padding: 15px 0; text-align: center; border-top: 1px solid #E2E2E2; }



/* SPLASH */

.splash { max-width: 1920px; min-width: 1024px; width: 100%; margin-top: -20px; }
.splash .sli { position: relative; height: 100%; width: 100%; background-size: cover; }
.splash .sli .lead { position: absolute; top: 165px; width: 550px; left: 50%; margin-left: -275px;  }
.splash .sli .lead h2 { margin: 0; font-family: 'Signika'; font-size: 2.7em; color: #FFF; background-color: rgba(46, 50, 49, 0.6); text-align: center; text-transform: uppercase; border-radius: 12px; margin: 10px 0; font-weight: 700; }
.splash .sli .lead h2.around { width: 420px; margin: 10px auto; }
.splash .sli .lead h2.across { width: 510px; margin: 10px auto; }
.splash .sli .lead h3 { margin: 0; color: #FFF; background-color: #d196ac; text-align: center; width: 130px; border-radius: 10px; font-weight: 400; padding: 5px 0; font-size: 1.5em; margin: 20px auto; cursor: pointer; }
.splash .sli .s { opacity: 0; position: absolute; top: 0; height: 100%; width: 100%; }
.splash .sli .s.a { opacity: 1; z-index: 100; }
.splash .sli .s.h { display: none; }

 .sli .s.one { background: url('i/slide6.jpg') no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
 }
.sli .s.two { background: url('i/slide5.jpg') no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
 }
  .sli .s.three { background: url('i/slide1.jpg') no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
 }
 .sli .s.four { background: url('i/slide2.jpg') no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
 }
 .sli .s.five { background: url('i/slide3.jpg') no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
 }



.splash .sli .s .wrd { width: 650px; margin: 0 auto; text-align: center; }
.splash .sli .s h1 { font-size: 3em; margin: 0; margin-top: 150px; color: #FFF; font-weight: 400; }
.splash .sli .s h1.b { color: #000; }
.splash .sli .s p { font-size: 1.15em; color: #FFF; }
.splash .sli .s p.b { color: #000; }
.splash .sli .s a { display: inline-block; background-color: #de869e; color: #FFF; padding: 5px 10px; border-radius: 3px; }

.splash .sli.one .s a { display: block; height: 100%; width: 100%; background: none; }

.splash .sli .s.two .wrd h1 { width: 90%; margin-left: 5%; }
.splash .sli .s.two .wrd p { margin-left: 12%; width: 74%; }

.splash .sli .s.three .wrd { width: 540px; }
.splash .sli .s.four .wrd { width: 570px; }

.sli .s.two h1 { text-transform: uppercase; letter-spacing: 5px; font-size: 4em; }
.sli .s.two span { font-size: .85em; }
.sli .s.two h3 { margin-bottom: 0; text-transform: uppercase; text-align: center; color: #FFF; letter-spacing: 2px; font-size: 2.225em; font-weight: 400; }
.sli .s.two h4 { margin-top: 0; text-transform: uppercase; text-align: center; color: #FFF; letter-spacing: 2px; font-size: 1.5em; font-weight: 400; }


.sss_f { position: relative; }
.sss_f .crc { position: absolute; left: 50%; margin-left: -57.5px; bottom: 20px; z-index: 200; }
.sss_f .crc .c { float: left; margin-right: 10px; height: 15px; width: 15px; background: #6d6f73; border-radius: 7.5px; cursor: pointer; }
.sss_f .crc .c:hover { background-color: #96989c; }
.sss_f .crc .c.a { background-color: #96989c; }
.sss_f .crc .c.l { margin-right: 0; }

.sss_f .wrp { position: relative; top: -60%; margin: 0 auto; max-width: 1200px; }
.sss_f .wrp .arw { position: absolute; cursor: pointer; opacity: .8; }
.sss_f .wrp .arw:hover { opacity: 1; }
.sss_f .wrp .arw.l { left: 0; height: 90px; width: 70px; background: url('https://s3.amazonaws.com/onebeatslideshow/img/left-arrow.png'); z-index: 999; }  
.sss_f .wrp .arw.r { right: 0; height: 90px; width: 70px; background: url('https://s3.amazonaws.com/onebeatslideshow/img/right-arrow.png'); z-index: 999; }   

.splash .statement { width: 660px; margin: 10px auto; font-size: 1.9em; text-align: center; }
.splash .statement h4 { font-weight: 400; padding: 0 10px; font-size: .9em; width: 88%; margin-left: 6%; }
.splash .social { height: 60px; }
.splash .social ul { margin: 0; padding: 0; list-style-type: none; width: 460px; margin: 20px auto; }
.splash .social ul li { display: inline-block; text-transform: uppercase; }
.splash .social ul li a { color: #59595b; }
.splash .social ul li.l { margin-right: 90px; }
.splash .social ul li span { padding-top: 10px; }
.splash .social .fb { margin-top: -10px; float: left; height: 50px; width: 50px; background: url('i/social.png'); background-position: 167px 0; }
.splash .social .twt { margin-top: -10px; margin-right: 10px; float: left; height: 50px; width: 50px; background: url('i/social.png'); }
.splash .feat.vid { width: 650px; margin: 0 auto; }
.splash .blog { position: relative; margin: 50px auto; margin-bottom: 100px; width: 870px;  }
.splash .videos { position: relative; margin: 0 auto; margin-bottom: 60px; width: 870px;  }
.splash .post { float: left; width: 250px; height: 250px; margin-top: 30px; margin-right: 60px; }
.splash .post .img-wrp { height: 160px; overflow: hidden; }
.splash .post.third { margin-right: 0px; }
.splash .post img { width: 250px; }
.splash .post h5 { margin: 0; text-decoration: underline; font-weight: 400; }
.splash .post h5 a { color: #000; text-decoration: underline; font-size: 1.25em; display: block; }
.splash .post h6 { margin: 0; font-size: 1em; }
.splash .more { padding: 5px 0; width: 100px; border-radius: 10px; border: 1px solid #a5a5a5; position: absolute; bottom: -60px; left: 50%; margin-left: -50px; text-align: center; cursor: pointer; }
.splash a.more.u { position: relative; bottom: 0; padding: 5px 0; display: block; margin-bottom: 50px; text-decoration: none; color: #000; }

.splash .more.vid { bottom: -15px; }
.splash h2 { text-align: center; font-weight: 400; font-size: 2em; }
.splash .mixtape { width: 570px; margin: 0 auto; margin-bottom: 50px; }

.dv { height: 9px; width: 100%; background: url('i/div1.jpg') no-repeat center center; }
.dv2 { height: 9px; width: 100%;  margin-bottom: 40px;  background: url('i/div2.jpg') no-repeat center center; }
.dv.t { clear: both; margin: 20px 0; padding-top: 70px; }

.sponsors { width: 820px; margin: 0 auto; margin-top: 40px; }
.sponsors .big { width: 380px; margin: 0 auto; margin-top: 60px; }
.sponsors .med { width: 670px; margin: 0 auto; margin-top: 100px; }
.content.partner .sponsors .sml { margin: 0; margin-bottom: 40px; }
.sponsors .sml { width: 780px; margin: 0 auto; margin-top: 100px; margin-bottom: 50px; }
.sponsors .sml .one { width: 700px; margin: 0 auto; margin-top: 10px; }
.sponsors .sml .two { width: 710px; margin: 0 auto; }
.sponsors .sml .three { width: 780px; margin: 0 auto; }

.sponsors .sml h4 {text-align: center; }

.sponsors h4 { margin: 0; color: #49b9ad; font-weight: 400; text-align: center; margin-top: -40px; font-size: 1.2em; }
.sponsors .logo { float: left; display: block; height: 150px; width: 150px; background: url('i/flash-sprite.png'); margin: 0 10px 10px 0; }
.sponsors .logo.gov { height: 150px; width: 150px; margin-right: 20px; background-position: 600px 740px; }
.sponsors .logo.fsn { height: 150px; width: 195px; background-position: 410px 740px;} 
.sponsors .logo.boc { height: 90px; width: 350px; background-position: 760px 500px; } 
.sponsors .logo.rsc { height: 90px; width: 300px; background-position: 390px 510px; } 

.sponsors .logo.abl { height: 95px; width: 110px; background-position: 780px 310px; } 
.sponsors .logo.aca { height: 95px; width: 115px; background-position: 640px 310px; } 
.sponsors .logo.kc { height: 95px; width: 195px; background-position: 510px 310px; } 
.sponsors .logo.btl { height: 95px; width: 70px; background-position: 290px 310px; } 
.sponsors .logo.bric { height: 95px; width: 160px; background-position: 180px 310px; } 
.sponsors .logo.dub { height: 85px; width: 190px; background-position: 840px 200px; } 
.sponsors .logo.glyph { height: 85px; width: 275px; background-position: 620px 200px; } 
.sponsors .logo.world { height: 85px; width: 110px; background-position: 330px 200px; } 
.sponsors .logo.mkny { height: 85px; width: 90px; background-position: 150px 200px; } 
.sponsors .logo.pel { height: 85px; width: 115px; background-position: 850px 80px; } 
.sponsors .logo.sunu { height: 85px; width: 90px; background-position: 710px 90px; } 
.sponsors .logo.rdx { height: 85px; width: 180px; background-position: 590px 90px; } 
.sponsors .logo.bus { height: 85px; width: 130px; background-position: 380px 80px; } 
.sponsors .logo.wbl { height: 85px; width: 100px; background-position: 210px 80px; } 
.sponsors .logo.tobe { height: 85px; width: 100px; background-position: 100px 84px; } 


.sponsors .sml.small .logo { float: left; display: block; height: 150px; width: 150px; background: url('i/flash-sprite-small.png'); margin: 0 10px 10px 0; }
.sponsors .sml.small .logo.gov { height: 150px; width: 150px; margin-right: 20px; background-position: 600px 740px; }
.sponsors .sml.small .logo.fsn { height: 150px; width: 195px; background-position: 410px 740px;} 
.sponsors .sml.small .logo.boc { height: 90px; width: 350px; background-position: 760px 500px; } 
.sponsors .sml.small .logo.rsc { height: 90px; width: 300px; background-position: 390px 510px; } 

.sponsors .sml.small .logo.abl { height: 95px; width: 70px; background-position: 1050px 230px; } 
.sponsors .sml.small .logo.aca { height: 95px; width: 75px; background-position: 960px 228px; } 
.sponsors .sml.small .logo.kc { height: 95px; width: 135px; background-position: 330px 230px; } 
.sponsors .sml.small .logo.btl { height: 95px; width: 60px; background-position: 190px 230px; } 
.sponsors .sml.small .logo.bric { height: 95px; width: 160px; background-position: 120px 230px; } 
.sponsors .sml.small .logo.dub { height: 65px; width: 110px; background-position: 1089px 140px; } 
.sponsors .sml.small .logo.glyph { height: 65px; width: 170px; background-position: 950px 137px; } 
.sponsors .sml.small .logo.world { height: 65px; width: 90px; background-position: 220px 133px; } 
.sponsors .sml.small .logo.mkny { height: 65px; width: 70px; background-position: 100px 132px; } 
.sponsors .sml.small .logo.pel { height: 75px; width: 85px; background-position: 1100px 70px; } 
.sponsors .sml.small .logo.sunu { height: 85px; width: 80px; background-position: 1010px 70px; } 
.sponsors .sml.small .logo.rdx { height: 65px; width: 110px; background-position: 370px 75px; } 
.sponsors .sml.small .logo.bus { height: 85px; width: 90px; background-position: 240px 70px; } 
.sponsors .sml.small .logo.wbl { height: 85px; width: 70px; background-position: 134px 75px; } 
.sponsors .sml.small .logo.tobe { height: 85px; width: 40px; background-position: 40px 74px; } 

/* PHOTOS */

/*photo slides*/
.photo-slides { position: fixed; top: -110%; height: 100%; width: 100%; background: #FFF; z-index: 5; }
.photo-slides .slide { position: absolute; height: 100%; width: 100%; }
.photo-slides .slide.off { left: 100%; } 
.photo-slides.active { top: 0; }
.photo-slides .slide.active { left: 0; }

.photo-slides .slide.one { background: url('https://s3-us-west-2.amazonaws.com/slideshow13/best/1-Large.jpg') center center fixed no-repeat; background-size: cover; }
.photo-slides .slide.two { background: url('https://s3-us-west-2.amazonaws.com/slideshow13/best/2-Large.jpg') center center fixed no-repeat; background-size: cover; }
.photo-slides .slide.three { background: url('https://s3-us-west-2.amazonaws.com/slideshow13/best/3-Large.jpg') center center fixed no-repeat; background-size: cover;}
.photo-slides .slide.four { background: url('https://s3-us-west-2.amazonaws.com/slideshow13/best/4-Large.jpg') center center fixed no-repeat; background-size: cover; }
.photo-slides .slide.five { background: url('https://s3-us-west-2.amazonaws.com/slideshow13/best/5-Large.jpg') center center fixed no-repeat; background-size: cover; }
.photo-slides .slide.six { background: url('https://s3-us-west-2.amazonaws.com/slideshow13/best/6-Large.jpg') center center fixed no-repeat; background-size: cover; }
.photo-slides .slide.seven { background: url('https://s3-us-west-2.amazonaws.com/slideshow13/best/7-Large.jpg') center center fixed no-repeat; background-size: cover; }
.photo-slides .slide.eight { background: url('https://s3-us-west-2.amazonaws.com/slideshow13/best/8-Large.jpg') center center fixed no-repeat; background-size: cover; }
.photo-slides .slide.nine { background: url('https://s3-us-west-2.amazonaws.com/slideshow13/best/9-Large.jpg') center center fixed no-repeat; background-size: cover; }
.photo-slides .slide.ten { background: url('https://s3-us-west-2.amazonaws.com/slideshow13/best/10-Large.jpg') center center fixed no-repeat; background-size: cover; }
.photo-slides .slide.eleven { background: url('https://s3-us-west-2.amazonaws.com/slideshow13/best/11-Large.jpg') center center fixed no-repeat; background-size: cover;}
.photo-slides .slide.twelve { background: url('https://s3-us-west-2.amazonaws.com/slideshow13/best/12-Large.jpg') center center fixed no-repeat; background-size: cover; }
.photo-slides .slide.thirteen { background: url('https://s3-us-west-2.amazonaws.com/slideshow13/best/13-Large.jpg') center center fixed no-repeat; background-size: cover; }
.photo-slides .slide.fourteen { background: url('https://s3-us-west-2.amazonaws.com/slideshow13/best/14-Large.jpg') center center fixed no-repeat; background-size: cover; }
.photo-slides .slide.fifteen { background: url('https://s3-us-west-2.amazonaws.com/slideshow13/best/15-Large.jpg') center center fixed no-repeat; background-size: cover; }
.photo-slides .slide.sixteen { background: url('https://s3-us-west-2.amazonaws.com/slideshow13/best/16-Large.jpg') center center fixed no-repeat; background-size: cover; }
.photo-slides .slide.seventeen { background: url('https://s3-us-west-2.amazonaws.com/slideshow13/best/17-Large.jpg') center center fixed no-repeat; background-size: cover; }
.photo-slides .slide.eighteen { background: url('https://s3-us-west-2.amazonaws.com/slideshow13/best/18-Large.jpg') center center fixed no-repeat; background-size: cover; }
.photo-slides .slide.nineteen { background: url('https://s3-us-west-2.amazonaws.com/slideshow13/best/19-Large.jpg') center center fixed no-repeat; background-size: cover;}
.photo-slides .slide.twenty { background: url('https://s3-us-west-2.amazonaws.com/slideshow13/best/20-Large.jpg') center center fixed no-repeat; background-size: cover; }
.photo-slides .slide.twenty-one { background: url('https://s3-us-west-2.amazonaws.com/slideshow13/best/21-Large.jpg') center center fixed no-repeat; background-size: cover; }
.photo-slides .slide.twenty-two { background: url('https://s3-us-west-2.amazonaws.com/slideshow13/best/22-Large.jpg') center center fixed no-repeat; background-size: cover; }
.photo-slides .slide.twenty-three { background: url('https://s3-us-west-2.amazonaws.com/slideshow13/best/23-Large.jpg') center center fixed no-repeat; background-size: cover; }
.photo-slides .slide.twenty-four { background: url('https://s3-us-west-2.amazonaws.com/slideshow13/best/24-Large.jpg') center center fixed no-repeat; background-size: cover; }
.photo-slides .slide.twenty-five { background: url('https://s3-us-west-2.amazonaws.com/slideshow13/best/25-Large.jpg') center center fixed no-repeat; background-size: cover;}
.photo-slides .slide.twenty-six { background: url('https://s3-us-west-2.amazonaws.com/slideshow13/best/26-Large.jpg') center center fixed no-repeat; background-size: cover; }
.photo-slides .slide.twenty-seven { background: url('https://s3-us-west-2.amazonaws.com/slideshow13/best/27-Large.jpg') center center fixed no-repeat; background-size: cover; }
.photo-slides .slide.twenty-eight { background: url('https://s3-us-west-2.amazonaws.com/slideshow13/best/28-Large.jpg') center center fixed no-repeat; background-size: cover; }
.photo-slides .slide.twenty-nine { background: url('https://s3-us-west-2.amazonaws.com/slideshow13/best/29-Large.jpg') center center fixed no-repeat; background-size: cover; }
.photo-slides .slide.thirty { background: url('https://s3-us-west-2.amazonaws.com/slideshow13/best/30-Large.jpg') center center fixed no-repeat; background-size: cover; }

/*arws*/

.arws-wrap { position: fixed; top: 40%; width: 100%; z-index: 999; }
.arws-wrap .arws { max-width: 1024px; min-width: 900px; position: relative; margin: 0 auto; z-index: 4; display: none; }
.arws-wrap .arw { position: absolute; width: 0; height: 0px; border-style: solid; cursor: pointer; }

.arws-wrap .arws .arw.l { left: 0; top: 0; border-width: 31px 35px 31px 0; border-color: transparent #F0F0F0 transparent transparent; }
.arws-wrap .arws .arw.r { right: 0; top: 0; border-width: 31px 0 31px 35px; border-color: transparent transparent transparent #F0F0F0; }
.arws-wrap .arws .arw.l:hover { border-color: transparent #DBFFE8 transparent transparent; } 
.arws-wrap .arws .arw.r:hover { border-color: transparent transparent transparent #DBFFE8; }


/* RESPONSIVE LAYOUT*/

@media all and (max-width: 1302px){  .top-news .story{ width: 32.3%; margin: .5%; } } /*third*/
@media all and (max-width: 935px){  .top-news .story{ width: 49%; margin: .5%; } } /*half*/
@media all and (max-width: 500px){  .top-news .story{ width: 97%; margin: 1% 1.5%; } } /*full*/

/*
@media all and (max-width: 1100px){  .w_slide .excerpt .text { left: 28%; } } 
@media all and (max-width: 1196px){  .nav.about { left: 13%; } } 
@media all and (max-width: 1180px){  .nav.about { left: 12%; } } 
@media all and (max-width: 1118px){  .nav.about { left: 10%; } } 
@media all and (max-width: 1070px){  .content.collab { width: 53.85%; } }
@media all and (max-width: 1060px){  .nav.about { left: 7%; } } 
@media all and (max-width: 1024px){  .network { left: 10%; } } 
@media all and (max-width: 830px){  .w_slide .excerpt .text { left: 15%; } } 
@media all and (max-width: 830px){  .nav.about { display: none; } }
@media all and (max-width: 830px){  .content .people .person { float: none; width: 58%; margin: 0 auto; } }
@media all and (max-width: 720px){  .content.videos { width: 90%; } }
@media all and (max-width: 700px){  .content .people .person { width: 68%; } }
@media all and (max-width: 580px){  .content .people .person { width: 88%; } }
@media all and (max-width: 420px){  .content .people .person { width: 98%; } }
@media all and (max-width: 720px){  .content.videos { width: 90%; } }
@media all and (max-width: 670px){  .blog.post { width: 98%; } }
@media all and (max-width: 670px){  .w_slide .excerpt .text { left: 10%; width: 85%; } } 
@media all and (max-width: 630px){  .content { width: 88%; padding: 0 15px 35px; } }
@media all and (max-width: 630px){  .content.quotes { padding: 0 15px 35px; } }
@media all and (max-width: 600px){  .content.fellows { width: 92%; } }
@media all and (max-width: 580px){  .hdr { width: 98%; } }
@media all and (max-width: 580px){  .content.music { width: 95%; } }
@media all and (max-width: 590px){  .filter.medias ul li { padding: 10px 2.45%; } }
@media all and (max-width: 590px){  .filter.medias { width: 440px; margin-left: -220px; } }
@media all and (max-width: 550px){  .hdr ul { display: none; } .content.staff { width: 100%; } }
@media all and (max-width: 440px){ .filter.medias { margin-left: -160px; } }
@media all and (max-width: 440px){  .hdr { width: 94%; } }
@media all and (max-width: 400px){  .content .people .person { width: 100%; margin: 1% 5%; } }
@media all and (max-width: 335px){  .filter.medias ul { width: 280px; } }
@media all and (max-width: 335px){.content.press ul li { margin: 0 3px; } }
@media all and (max-width: 335px){  .filter.medias ul li { padding: 10px 0.45%; } }
@media all and (max-width: 335px){  .filter.medias { width: 280px; margin-left: -140px;} }
@media all and (max-width: 347px){ .content.partner #sponsor .logo { padding-left: 130px; } }
@media all and (max-width: 347px){ .content.archive ul { padding-bottom: 5px; } }
@media all and (max-width: 440px){ .filter.medias ul li a { padding: 5px 10px; font-size: 1.7em; } }
@media all and (max-width: 400px){ .content.videos .wrap { height: 205px; } }


*/





/* PRETTY */
body {    -webkit-transition: height 750ms ease;
    -moz-transition: height 750ms ease;
    -o-transition: height 750ms ease;
    transition: height 750ms ease;
}

.sli .s {    -webkit-transition: opacity 1500ms ease;
    -moz-transition: opacity 1500ms ease;
    -o-transition: opacity 1500ms ease;
    transition: opacity 1500ms ease;
}

div { -webkit-transition: width 750ms ease;
    -moz-transition: width 750ms ease;
    -o-transition: width 750ms ease;
    transition: width 750ms ease;

     -webkit-transition: height 750ms ease;
    -moz-transition: height 750ms ease;
    -o-transition: height 750ms ease;
    transition: height 750ms ease;

    -webkit-transition: margin-left 750ms ease;
    -moz-transition: margin-left 750ms ease;
    -o-transition: margin-left 750ms ease;
    transition: margin-left 750ms ease;

    -webkit-transition: padding 750ms ease;
    -moz-transition: padding 750ms ease;
    -o-transition: padding 750ms ease;
    transition: padding 750ms ease;
}

/*clearfix*/
.cf:after {
  content: "";
  display: table;
  clear: both;
}

